/* Assigment 2-2 */
h1{font-family: "raleway", sans-serif;}
h2 {text-align: left; font-family: "raleway", sans-serif;}
p {font-family: "Noto Serif", serif;}
a {color:darkgreen;}
del {color:grey;}
mark {color:darkblue; background-color:pink;}
#pre {font-family:monospace;}

/* Assigment 2-3 */
h3 {color: RGBA(0,0,139,0.8);}
.transparent-text {color: RGBA(0,0,0,0.5);}

/* Assigment 2-4 */
.tiled-background {
background-color: #dcf5f5;
background-image: url("cross.png");}

/* Assigment 2-8 */
h4 {font-family: "raleway", sans-serif; font-weight: normal; font-style: italic; text-decoration: underline;}
#quote {font-family: "raleway"; color: dimgrey; line-height: 1.5; word-spacing:0.2em; text-align: justify;}
#icon {color: #BFCFD4; margin: 0 auto; text-align:center;}
#content {background-color:white; border: 1px solid darkgrey; border-radius: 8px;}

/* Assignment 2-9 */
#list {list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: darkgrey; 
    color:white; font-family: "raleway";}
  .internal {float: left;}
ol.number{list-style-type: decimal;}
ul.square{list-style-type: square;}
ol.roman_numerals {list-style-type: lower-roman;}

/* Assignment 2-5 */
.blue {color:blue;}
.fancy {font-family: cursive;}